*.jar
*.bak
build/*
.gradle/*
.idea/*
*.ipr
*.iws
*.iml
classes/*
.DS_Store
.gradle/
.idea/
build/
out
tags
/bin/
.vscode/*
.settings/*
.project
src/main/main.java.com.aarengee.resources/buildvar.properties

